@{
    ViewData["Title"] = "Submitted Page";
}

<div class="container">
    <h2>Submission Confirmation</h2>
    <p>Your details have been recorded. Once the itinerary details are ready, they will be sent out to you through email and will be available on the website.</p>
    <p class="message">Thank you for your submission!</p>
</div>
